<%= form_with(model: [:client, field], class: "contents") do |form| %>
  <% if field.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Nama Lapangan -->
  <div class="mb-4">
    <%= form.label :name, "Nama Lapangan", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :name, class: "w-full p-2 border rounded-lg", value: @field.name %>
  </div>

  <!-- Alamat -->
  <div class="mb-4">
    <%= form.label :address, "Alamat", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :address, class: "w-full p-2 border rounded-lg", value: @field.address %>
  </div>

  <!-- Kota -->
  <div class="mb-4">
    <%= form.label :city, "Kota", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.select :city, options_for_select(@cities), { prompt: "Pilih Kota" }, class: "w-full p-2 border rounded-lg" %>
  </div>

  <!-- Tipe Lapangan -->
  <div class="mb-4">
    <%= form.label :field_type, "Tipe Lapangan", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.select :field_type, options_for_select([["Mini Soccer"], ["Futsal"]]), { prompt: "Pilih Tipe Lapangan" }, class: "w-full p-2 border rounded-lg" %>
  </div>

  <!-- Harga -->
  <div class="mb-4">
    <%= form.label :price, "Harga per Sesi", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_field :price, class: "w-full p-2 border rounded-lg", value: @field.price %>
  </div>

  <!-- Kapasitas -->
  <div class="mb-4">
    <%= form.label :capacity, "Kapasitas", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.number_field :capacity, class: "w-full p-2 border rounded-lg", value: @field.capacity %>
  </div>

  <!-- Deskripsi -->
  <div class="mb-4">
    <%= form.label :description, "Deskripsi", class: "block text-gray-700 font-semibold mb-2" %>
    <%= form.text_area :description, class: "w-full p-2 border rounded-lg", rows: 5, value: @field.description %>
  </div>

  <!-- Upload Gambar -->
<div class="mb-4">
  <%= form.label :image, "Upload Gambar", class: "block text-gray-700 font-semibold mb-2" %>
  <%= form.file_field :image, class: "w-full p-2 border rounded-lg", accept: "image/*" %>
</div>

  <!-- Submit Button -->
  <div class="inline">
    <%= form.submit "Save Field", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
