<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= notice %></p>
<% end %>

<!-- Fixed Position Plus Icon -->
    <%= link_to new_client_field_path, class: "fixed bottom-4 right-4 rounded-full p-2 shadow-lg z-50" do %>
      <%= image_tag 'plus.png', alt: 'Add Field', class: 'w-12 h-12' %>
    <% end %>

<div class="container mx-auto p-6 pt-24">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-semibold text-gray-800">Booking Lapangan Online Terbaik</h1>
  </div>

  <%= form_with url: client_fields_path, method: :get, local: true, class: "flex justify-center mb-4 bg-[#F8F9FA] p-4 rounded-full" do |form| %>
  <!-- Nama Venue -->
  <%= form.text_field :name, value: params.dig(:query, :name), placeholder: "Nama Venue", class: "px-4 py-2 border-r border-[#072243] w-1/3 text-[#072243] placeholder-[#072243]" %>

  <!-- Kota -->
  <%= form.select :city, options_for_select(@cities, params.dig(:query, :city)), { prompt: 'Pilih Kota' }, class: "px-4 py-2 border-r border-[#072243] w-1/3 text-[#072243]" %>

  <!-- Jenis Lapangan -->
  <%= form.select :field_type, options_for_select(@field_types, params.dig(:query, :field_type)), { prompt: 'Pilih Jenis Lapangan' }, class: "px-4 py-2 border-r border-[#072243] w-1/3 text-[#072243]" %>

  <!-- Button Search -->
  <%= form.submit class: "bg-no-repeat bg-center bg-contain w-8 h-8", style: "background-image: url(#{asset_path('search.svg')}); border: none;" %>
  <% end %>

  <!-- Tampilan Lapangan -->
<div class="grid grid-cols-3 gap-6">
  <% @fields.each do |field| %>
    <div class="border rounded-lg overflow-hidden shadow hover:shadow-lg transition-shadow cursor-pointer">
      <%= link_to client_field_path(field), class: "block" do %>
        <!-- Gambar Lapangan -->
        <% if field.image.present? %>
        <%= image_tag field.image, class: "w-66 h-64 object-cover" %>
        <% else %>
        <p class="text-center text-gray-700">No file attached</p>
        <% end %>
                
        <!-- Informasi Lapangan -->
        <div class="p-4 bg-white">
        <!-- Tipe Lapangan -->
        <p class="text-sm text-[#072243] font-semibold"><%= field.field_type %></p>

          <!-- Nama Lapangan -->
          <h2 class="font-semibold text-gray-700 text-lg"><%= field.name %></h2>
          
          <!-- Alamat Lapangan -->
          <p class="text-sm text-gray-500"><%= field.address %></p>

          <!-- Kota -->
          <h2 class="text-sm text-gray-500 "><%= field.city %></h2>          
          
          <!-- Harga -->
          <p class="text-sm text-gray-500 mt-2">Mulai Dari <span class="font-semibold"><%= number_to_currency(field.price, unit: "Rp. ") %>/Sesi</span></p>
          
        </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>
</div>
