<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="flex w-full shadow-lg overflow-hidden h-screen">
    <!-- Left side (Form Login) -->
    <div class="w-1/2 p-8 pt-24 bg-white">
      <h2 class="text-2xl font-semibold text-center text-[#072243] mb-4">Selamat Datang.</h2>
      <p class="text-center text-gray-600 mb-6">Ribuan orang telah merasakan pengalaman seru berolahraga bersama kami. Sekarang giliran kamu!</p>

      <div class="border-t border-gray-300 my-4"></div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mb-4">
          <%= f.label :email, "Email", class: "block text-gray-700 font-semibold" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-[#072243]" %>
        </div>

        <div class="mb-4">
          <%= f.label :password, "Password", class: "block text-gray-700 font-semibold" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-[#072243]" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-4">
            <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
            <%= f.label :remember_me, class: "text-gray-600" %>
          </div>
        <% end %>

        <div class="flex justify-between mb-6">
          <%= link_to "Lupa Password?", new_password_path(resource_name), class: "text-[#072243] hover:underline" %>
          <%= f.submit "Login", class: "w-1/2 bg-[#072243] text-white py-2 rounded-lg hover:bg-[#072243] transition duration-300" %>
        </div>

        <p class="text-center text-gray-600 mb-4">Belum Memiliki Akun? <%= link_to "Disini", new_registration_path(resource_name), class: "text-[#072243] hover:underline" %></p>

      <% end %>
    </div>

    <!-- Right side (Image and Welcome) -->
    <div class="w-1/2 bg-cover bg-center" style="background-image: url('<%= asset_path('tennis.jpg') %>');">
    <!-- Additional content could be added here if necessary -->
    </div>
  </div>
</div>
